        #divCheckersBoard{
            width: 400px;
            height: 400px;
            border: 1px solid black;
            justify-content: center;
            text-align: center;
        }
        .checkerSquare{
            float: left;
            width: 50px;
            height: 50px;
            background-color: rgb(16, 125, 135);
            justify-content: center;
            text-align: center;
        }
        .checkerPiece{
            width: 45px;
            height: 45px;
            margin: 2.5px;
            border-radius: 50%; /*mae sure the pieces round*/
            justify-content: center;
            text-align: center;  
            border: 1px solid rgb(13, 197, 133);  
        }
        .checkerPiece-wr{
            background-color: white;
            height: 45px;
            width: 15px;
            border-radius: 0%;
            justify-content: center;
        }
        .checkerPiece-br{
            background-color: rgb(43, 0, 255);
            height: 45px;
            width: 15px;
            border-radius: 0%;
            justify-content: center;
        }
        .checkerPiece-wk{
            background-color: white;
            height: 15px;
            width: 45px;
            border-radius: 0%;
            justify-content: center;
        }
        .checkerPiece-bk{
            background-color: rgb(43, 0, 255);
            height: 15px;
            width: 45px;
            border-radius: 0%;
            justify-content: center;
        }
        .checkerPiece-bb{
            background-color: rgb(43, 0, 255);
            height: 15px;
            width: 45px;
            rotate: 45deg;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 15px;
        }
        .checkerPiece-wb{
            background-color: white;
            height: 15px;
            width: 45px;
            rotate: 45deg;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 15px;
        }
        .checkerPiece-wq{
            background-color: white;
            height: 30px;
            width: 30px;
            rotate: 45deg;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 10px;
            margin-left: 10px;
        }
        .checkerPiece-bq{
            background-color: rgb(43, 0, 255);
            height: 30px;
            width: 30px;
            rotate: 45deg;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 10px;
            margin-left: 10px;
        }
        .checkerPiece-BK{
            background-color: rgb(43, 0, 255);
            height: 40px;
            width: 40px;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 5px;
            margin-left: 5px;
        }
        .checkerPiece-WK{
            background-color: white;
            height: 40px;
            width: 40px;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 5px;
            margin-left: 5px;
        }
        .checkerPiece-wp{
            background-color: white;
            height: 25px;
            width: 25px;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 12.5px;
            margin-left: 12.5px;
        }
        .checkerPiece-bp{
            background-color: rgb(43, 0, 255);
            height: 25px;
            width: 25px;
            border-radius: 0%;
            justify-content: center;
            text-align: center;
            margin-top: 12.5px;
            margin-left: 12.5px;
        }
        .checkerPiece-b{
            background-color: rgb(26, 220, 216);
        }
        nav {
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
    padding: 35px;
}
body{
    justify-content: center;
    text-align: center;
    background-color: rgb(166, 44, 194);
}
.container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#span{
    justify-content: center;
    text-align: center;
}